/* ==UserStyle==
@name           canvas.bham.ac.uk
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document url-prefix("https://canvas.bham.ac.uk/") {
    /* Insert code here... */
    :root {
        --bcbackground-0: #FFFFFF09;
        --bcbackground-1: #FFFFFF09;
        --bcbackground-2: #FFFFFF09;
        --bclinks: #f39456;
        --bcsidebar: #FFFFFF15;
        --ic-brand-font-color-dark: #FFFFFF;
    }
    .ic-Dashboard-header__layout {
        border-radius: 10px;
        padding-left: 20px;
        backdrop-filter: blur(12px) !important;
        border: 0px !important;
    }
    .bettercanvas-todo-svg {
        fill: #FFFFFF !important;
    }
    .uob-thinborder {
        color: #FFFFFF !important;
        background-color: #FFFFFF09 !important;
    }
    #breadcrumbs {
        background-color: #00000000 !important;
    }
    .bettercanvas-hover-preview {
        background-color: #1f1f1f !important;
    }
    .bettercanvas-hover-preview::after {
        background: linear-gradient(0deg, #1f1f1f 50%, transparent) !important;
    }
    .css-1eaecfq-baseButton__content {
        color: #FFFFFF !important;
    }
    .with-left-side #left-side {
        background-color: #00000000 !important;
    }
    .item-group-container{
        background-color: #00000000 !important;
    }
    .header-bar{
        background-color: #00000000 !important;
    }
    .module-sequence-footer .module-sequence-footer-content{
        background-color: #00000000 !important;
    }
    .pages.show .page-title {
        background-color: #00000000 !important;
    }
    .css-sg1rn7-view {
        background-color: #00000000 !important;
    }
    .css-11zy9g-view--inlineBlock-inlineListItem {
        color: #777777 !important;
    }
    .css-1rpus1y-baseButton__content {
        background-color: #ffffff15 !important;
        color: #ffffff !important;
        border: #00000000 !important;
    }
    #nav-tray-portal > span > span {
        background-color: #1f1f1f !important;
    }
    body {
        background-color: #00000000 !important;
    }
    .ic-app-header {
        border-radius: 10px !important;
        background-color: #0000 !important
    }
    .ic-app-main-content {
        background-color: #ffffff09 !important;
        border-radius: 10px 0 0 10px !important;
    }
    .ic-app-nav-toggle-and-crumbs {
        border-bottom: 0 !important;
    }
    .ic-app-footer {
        border-top: 0 !important;
    }
    .css-7naoe-textInput__facade {
        color: #fff !important;
    }
    .css-7naoe-textInput__facade {
        border: 0px !important;
    }
    .ic-app-header__menu-list-item--active {
        background-color: #ffffff20 !important;
        border-radius: 10px !important;
    }
    .ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .ic-app-header__menu-list-link, .ic-app-header__menu-list-link:hover {
        background: #ffffff10 !important;
        border-radius: 15px;
    }
    .css-1vfp3rz-text {
        color: #bbb !important;
    }
    #assignments-student-footer {
        background-color: #1f1f1fee !important;
        border-radius: 10px 10px 0 0 !important;
        border: 0px !important;
        backdrop-filter: blur(10px) !important;
    }
}
