/* ==UserStyle==
@name           Fluent ChatGPT
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Transparent background theme for ChatGPT. 
@author         geojeesan
==/UserStyle== */

@-moz-document url-prefix("https://chatgpt.com/") {
    body, html {
        background-color: #ffffff00 !important;
    }
    .bg-token-main-surface-primary {
        background-color: #00000000 !important
    }
    .dark\:bg-gray-950:is(.dark *) {
        background-color: #ffffff15 !important;
    }
    .dark\:bg-token-main-surface-secondary:is(.dark *) {
        background-color: #ffffff15 !important;
    }
    .bg-token-message-surface {
        background-color: #1f1f1f !important;
    }
    .bg-token-sidebar-surface-primary {
        border-radius: 10px !important;
    }
    .flex .flex-col .py-2 .empty:hidden .dark:border-white {
        display: None !important;
    }
    .dark .popover {
        background-color: #1f1f1f !important;
    }
}