/* ==UserStyle==
@name           www.youtube.com/watch
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document url-prefix("https://www.youtube.com/") {
    /* Insert code here... */
    html[dark] {
        background-color: #0000 !important;
    }
    feedback-shape__fill {
        background-color: #000 !important;
    }
    html[dark], [dark] {
        --yt-spec-base-background: #0f0f0f00 !important;
        --ytd-searchbox-background: #ffffff10 !important;
    }
    html .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--filled {
        color: #000;
    }
    html .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--filled {
        color: #000 !important;
    }
    #secondary {
        background-color: #ffffff10 !important;
        border-radius: 12px !important;
        border: 0 !important;
        margin-right: 24px !important;
    }
    #ytd-player {
        background-color: #ffffff10 !important;
    }
    #dismissible.ytd-compact-video-renderer {
        background-color: #ffffff10 !important;
        border-radius: 12px !important;
        height: 94px !important
    }
    ytd-engagement-panel-section-list-renderer {
        background-color: #ffffff10 !important;
    }
    ytd-masthead[guide-persistent-and-visible] {
        background-color: #00000000 !important;
        border-radius: 12px !important;
        backdrop-filter: blur(10px) !important;
    }
    iron-selector {
        background-color: #00000000 !important;
        backdrop-filter: blur(10px) !important;
        border-radius: 12px !important;
    }
    tp-yt-app-toolbar {
        background-color: #1f1f1fdd !important;
        backdrop-filter: blur(10px) !important;
    }
    ytd-browse[page-subtype="home"], ytd-browse[page-subtype="subscriptions"] {
        background-color: #ffffff09 !important;
        border-radius: 12px 0 0 0 !important;
    }
    .yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--text {
        color: #f39456 !important;
    }
    .yt-core-attributed-string__link--call-to-action-color {
        color: #f39456 !important;
    }
    .yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--outline {
        color: #f39456 !important;
    }
}